NEXT_PUBLIC_SUPABASE_URL=https://ouosyeiyytbizshvkfql.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im91b3N5ZWl5eXRiaXpzaHZrZnFsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODY3ODEwODcsImV4cCI6MjEwMjM1NzA4N30.ScjLhI54JZMBoze2fGV8lcjbqysuIo7b028VExEVK8E
